[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
rope = "*"
pylint = "*"
flake8 = "*"

[packages]
requests = "*"
lxml = "*"
graphene-django = "*"
django = "==2.*"
pylama = "*"
beautifulsoup4 = "*"
pytz = "*"
django-filter = "*"
django-graphql-jwt = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-localflavor = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
